<section id="products">
  <div class="container">
    <h1 class="text-center">take time to read and touch</h1>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm-4 col-md-3">
          <div class="mag">
            <h3><%= product.title %></h3>
            <p><%= product.description %></p>
            <%= link_to product_path(product) do %>
              <% if product.image.present? %>
                <%= image_tag(product.image.thumb.url, class: "shadow") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "shadow") %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
