<section id="product">
  <br>
  <div class="wrapper center">
    <br>
    <div align="center">
      <div class="row">
        <div class="col-xs-9">
          <% if @product.image.present? %>
            <%= image_tag(@product.image.medium.url, class: "shadow") %>
          <% else %>
            <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "shadow") %>
          <% end %>
        </div>
        <div class="col-xs-3">
          <h2> <%= @product.title %> </h2>
          <p><%= @product.description %></p>
          <br>
          <div> Quantity : <%= @product.quantity %> </div>
          <div class="product-price"> ￥ <%= @product.price %> </div>
          <br>
          <div>
            <% if @product.quantity.present? && @product.quantity > 0 %>
            <%= link_to("Add to Cart", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-default") %>
            <% else %>
            Sold Out
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
