<section id="product">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <% if @product.image.present? %>
          <%= image_tag(@product.image.medium.url, class: "shadow img-responsive") %>
        <% else %>
          <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "shadow img-responsive") %>
        <% end %>
      </div>
      <div class="col-md-5">
        <h2> <%= @product.title %> </h2>
        <p><%= @product.description %></p>
        <p> Quantity: <%= @product.quantity %> </p>
        <p> ￥ <%= @product.price %> </p>
        <%= link_to("Add to Cart", add_to_cart_product_path(@product), method: :post, class: "btn btn-default") %>
      </div>
    </div>
  </div>
</section>
