<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">NICEZINE</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to("SHOP", products_path) %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to carts_path do  %>
          Cart <i class="fa fa-shopping-cart"> </i> ( <span id="shopcart"><%= current_cart.products.count %></span> )
          <% end %>
        </li>
        <% if !current_user %>

        <li><%= link_to("Sign up", new_user_registration_path) %> </li>
        <li><%= link_to("Login", new_user_session_path) %></li>

        <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Hi!, <%= current_user.email %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if current_user.admin? %>
            <li>
              <%= link_to("Admin Panel", admin_products_path ) %>
            </li>
            <% end %>
            <li>
              <%= link_to("My Orders", account_orders_path ) %>
            </li>
            <li> <%= link_to('Logout', destroy_user_session_path, method: :delete) %> </li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
